# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and outputs
*.log
*.out

# Ignore environment and credentials
.env
*.session
